
<ion-header>

  <ion-navbar hideBackButton>
      <ion-buttons left>
          <button ion-button (click)="this.navCtrl.pop({animation: 'ios-transition'})" padding>
              <ion-icon class="customIcon" name="arrow-back" style="zoom:1.4;"></ion-icon>
          </button>
      </ion-buttons>
      <ion-title>Change Password</ion-title>
   </ion-navbar>
</ion-header>



<ion-content padding>



  <form #userForm="ngForm" (ngSubmit)="otpfun(userForm)" name="myForm">

    <!-- ====================== -->
      <div *ngIf="formhide">


<ion-item  [class.has-error]="pwd6.invalid && pwd6.touched" [class.has-success]="pwd6.valid">
  <ion-label stacked><b>Type your Old Password </b></ion-label>
  <ion-input type="{{type1}}" clearOnEdit="false" class="form-control" [(ngModel)]="pwd1" name="pwd1" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@*#$%^&()])[A-Za-z0-9!@#$*%^&()]{8,14}"  required #pwd6="ngModel"></ion-input>
  <button padding-top ion-button clear color="primary" style="zoom:1.3;" type="button" item-right *ngIf="show1" (click)="myFunction()"><ion-icon  name="md-eye-off"></ion-icon></button>
  <button padding-top ion-button clear color="primary" type="button" style="zoom:1.3;" item-right *ngIf="!show1" (click)="myFunction()"><ion-icon  name="md-eye"></ion-icon></button>
</ion-item>
<ion-label padding-left style="color:red" *ngIf="pwd6.touched && pwd6.pristine">Old password is required</ion-label>
<ion-label padding-left style="color:red" text-wrap text-justify  *ngIf="pwd6.invalid && pwd6.dirty && pwd6.touched">Must be combination of atleast one uppercase,one lowercase, one digit and one special character</ion-label>


<ion-item  [class.has-error]="pwd22.invalid && pwd22.touched" [class.has-success]="pwd22.valid">
  <ion-label stacked><b>Type your New Password</b></ion-label>
  <ion-input type="{{type2}}" clearOnEdit="false" class="form-control" [(ngModel)]="pwd2" name="pwd2" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@*#$%^&()])[A-Za-z0-9!@#$*%^&()]{8,14}"   required #pwd22="ngModel"></ion-input>

  <button padding-top ion-button clear color="primary" style="zoom:1.3;" type="button" item-right *ngIf="show2" (click)="myFunction1()"><ion-icon  name="md-eye-off"></ion-icon></button>
  <button padding-top ion-button clear color="primary" type="button" style="zoom:1.3;" item-right *ngIf="!show2" (click)="myFunction1()"><ion-icon  name="md-eye"></ion-icon></button>
</ion-item>
<ion-label padding-left style="color:red" *ngIf="pwd22.pristine && pwd22.touched">New Password is required</ion-label>
<ion-label padding-left style="color:red" text-wrap text-justify  *ngIf="pwd22.invalid && pwd22.dirty && pwd22.touched">Must be combination of atleast one uppercase,one lowercase, one digit and one special character</ion-label>
<ion-label padding-left style="color:red" *ngIf="(userForm.value.pwd1==userForm.value.pwd2) && pwd22.dirty && pwd22.touched">Old password and new passsword are same</ion-label>



<ion-item  [class.has-error]="pwd.invalid && pwd.touched" [class.has-success]="pwd.valid">
  <ion-label stacked><b>Re-Type New Password</b></ion-label>
  <ion-input type="{{type3}}" clearOnEdit="false" class="form-control" [(ngModel)]="pwd3" name="pwd3" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@*#$%^&()])[A-Za-z0-9!@#$*%^&()]{8,14}"   required #pwd="ngModel"></ion-input>

  <button padding-top ion-button clear color="primary" style="zoom:1.3;" type="button" item-right *ngIf="show3" (click)="myFunction2()"><ion-icon  name="md-eye-off"></ion-icon></button>
  <button padding-top ion-button clear color="primary" type="button" style="zoom:1.3;" item-right *ngIf="!show3" (click)="myFunction2()"><ion-icon  name="md-eye"></ion-icon></button>
</ion-item>
<ion-label padding-left style="color:red" *ngIf="pwd.pristine && pwd.touched">Re-Type password is required</ion-label>
<ion-label padding-left style="color:red" *ngIf="!(userForm.value.pwd2==userForm.value.pwd3) && pwd.dirty && pwd.touched">Password mismatch</ion-label>


          <ion-label text-center><button [disabled]="!userForm.valid || !(userForm.value.pwd2==userForm.value.pwd3) || (userForm.value.pwd1==userForm.value.pwd2)" type="submit" ion-button>Change</button></ion-label>


</div>


<!-- ====================== -->
<div hidden>


      <ion-input type="{{type1}}" clearOnEdit="false" class="form-control" [(ngModel)]="pwd1" name="cpwd1"   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@*#$%^&()])[A-Za-z0-9!@#$*%^&()]{8,14}"   required #pwd6="ngModel"></ion-input>
      <ion-input type="{{type2}}" clearOnEdit="false" class="form-control" [(ngModel)]="pwd2" name="cpwd2"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@*#$%^&()])[A-Za-z0-9!@#$*%^&()]{8,14}"   required #pwd22="ngModel"></ion-input>
      <ion-input type="{{type3}}"  clearOnEdit="false" class="form-control" [(ngModel)]="pwd3" name="cpwd3"   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@*#$%^&()])[A-Za-z0-9!@#$*%^&()]{8,14}"   required #pwd="ngModel"></ion-input>
      <ion-label text-center><button  [disabled]="!userForm.valid || !(userForm.value.pwd2==userForm.value.pwd3) || (userForm.value.pwd1==userForm.value.pwd2)" type="submit" ion-button>Change</button></ion-label>
</div>
      <!-- =========== -->

  <div *ngIf="show">


        <ion-item  [class.has-error]="pwd6.invalid && pwd6.touched" [class.has-success]="pwd6.valid">
            <ion-label stacked><b>Enter OTP here</b></ion-label>
            <ion-input type="text" class="form-control" [(ngModel)]="otp" name="otp" pattern="[0-9]{6}" required #pwd6="ngModel"></ion-input>

          </ion-item>
          <ion-label padding-left style="color:red"  *ngIf="pwd6.pristine && pwd6.touched">OTP is required</ion-label>
          <ion-label padding-left style="color:red"  *ngIf="pwd6.invalid && pwd6.dirty && pwd6.touched">Enter 6 digit OTP</ion-label>



            <ion-label text-center><button [disabled]="!userForm.valid" type="button" (click)="changePass(userForm)" ion-button>Change</button></ion-label>


</div>
<!-- ============================= -->

</form>

  </ion-content>




