page-profile {


    .textsize{
        font-size:100%;
    }
    .imagesize{
        width:50%;
        height:50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }



    .b{
      box-shadow: 0 4px 8px 0 rgba(162, 193, 240, 0.2);
      border-color: rgb(158, 182, 235);
      padding: 20px;
      margin: 10px;
      border-radius: 5px;
      border-style: solid;
      }
}
