page-welcome {
  h1 {text-align: center}
.but
{
  padding: 25px;
}

  .button
  {
      background-color: rgb(255, 255, 255);
  }
  #notification-button {
      position: relative;
      width: 42px;
      top:1px;
      right: 1px;
      overflow: visible!important;
  }


#notifications-badge {
      background-color: red;
      position: absolute;
      top: 1px;
      right: 1px;
      border-radius: 100%;
  }
#cart-btn {
  position: relative;
}
}
