page-menu {

    .icons
    {
        height:48px;
        width:28px
    }
    .profile {
        border-radius: 60%;
    }
    
      .textwidth
      {
         
         font-weight: 100;
    }
    .textsize
    {
        font-size:75%;
    }
    text-wrap {
        font-size: 13px;
    }
    .app-font-25 {
        font-size: 13px;
    }
   
}
